body, input, button {
    font-family: "Poppins", sans-serif;
}


/*Form validation*/
svg {
    display: none;
}
.form-field.error input {
    border-color: red;
}

.form-field.error svg {
    display: block;
}

.form-field.success svg {
    display: none;
}

.form-field small {
    color: red;
}