* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body,button {
    font-family: 'Poppins', sans-serif;
}

header {
    padding: 20px 0;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
}

/*TITLES*/
.titles {
    text-align: center;
}

.titles h1 {
    margin-bottom: 1rem;
    line-height: 1.2;
    font-size: 3rem;
}

.titles h2 {
    margin-top: 0;
    margin-bottom: 3.5rem;
    font-weight: 400;
    font-size: 1.8rem;
}

/*COLLAPSE*/
.collapsible {
    border: 1px solid hsl(227, 100%, 92%);
    background-color: #fff;
    cursor: pointer;
    padding: 1.8rem;
    width: 100%;
    text-align: left;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collapsible i{
    transition: all 0.2s linear;
}

.active i {
  transform: rotate(180deg);
}

.content {
    height: 0;
    overflow: hidden;
}

.active + .content {
    height: fit-content;
    margin-bottom: 2rem;
}
 
/*TEMPLATE*/
.row {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

/*CARD*/
.card {
    border-radius: 1rem;
    border: 1px solid hsl(227, 100%, 92%); 
    display: flex;
    flex-direction: column;
    align-items: stretch;  
    margin: calc(1rem);
}

.card-top {
    width: 100%;
    cursor: pointer;
}

.card-top img {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-bottom {
    padding: 0 1rem;
}

.card-bottom h3 {
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
}

@media screen and (min-width: 500px) {
    .card {
        width: calc((100% - 1.25rem) - 0.001rem);
    }
}

@media screen and (min-width: 768px) {
    .card {
        width: calc((45% - 1.25rem) - 0.001rem);
        margin: calc(1.5rem);
        
    }
}

@media screen and (min-width: 1024px) {
    .card {
        width: calc((30% - 1.25rem) - 0.001rem);
        margin: calc(2rem);
    }
}

