:root {

--veryDarkBlue: hsl(233, 47%, 7%);
--darkDesaturatedBlue: hsl(244, 38%, 16%);
--softViolet: hsl(277, 64%, 61%);

--white: hsl(0, 0%, 100%);
--slightlyTransparentWhiteParagraph: hsla(0, 0%, 100%, 0.75);
--slightlyTransparentWhiteHeading: hsla(0, 0%, 100%, 0.6);
}

body {
    
    background-color: var(--veryDarkBlue);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 90%;
    background-color: var(--darkDesaturatedBlue);
}

.img-section {
    position: relative;
}

.img-background {
    background-color: var(--softViolet);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    mix-blend-mode: multiply;
    opacity: 84%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-section {
    padding: 10px 25px;
}

.text-section h2,
.text-section p {
    text-align: center;
}

.text-section h2 {
    color: var(--white);
}

.text-section .text-emph {
    color: var(--softViolet);
}

.text-section p {
    color: var(--slightlyTransparentWhiteParagraph);
    font-size: 15px;
    margin-bottom: 30px;
}

.text-section .reference-section,
.reference-section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reference-section div {
    margin-bottom: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

.reference-section .reference-number {
    color: var(--white);
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
}

.reference-section .reference-desc {
    text-transform: uppercase;
    color: var(--slightlyTransparentWhiteParagraph);
    font-size: 12px;
    letter-spacing: 1px;
}


@media screen and (min-width:600px) {
    .text-section .reference-section {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (min-width:800px) {
    .wrapper{
        display: flex;
        flex-direction: row-reverse;
    }  

    .img-section,
    .text-section {
        width: 50%;
    }

    .text-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding:10px 40px;
    }

    .text-section .text-wrapper {
        width: 70%;
    }

    .text-section h2,
    .text-section p {
    text-align: left;
    }

    .text-section h2 {
        font-size: 36px;
        line-height: 1.3;
    }

    .text-section p {
        line-height: 1.6;
        margin-bottom: 60px;
        font-size: 18px;
    }
    .text-section .reference-section {

        justify-content: space-between;
    }
    
}