:root {
  /*(CTA text)*/  
--lightRed : #ff525d;
/*(CTA hover background)*/
--veryLightRed : #ff7a85;
/*(headings)*/
--veryDarkBlue : #1f3f5b;

/*text*/
--white: #ffffff;
/*text-footer*/
--grayishBlue: #c8c8cb;
/*body-copy*/
--veryDarkGrayisBlue: #4b5862;
/*footer background*/
--veryDarkBlackBlue: #25252d;

/*Background gradient - Intro/CTA mobile nav:*/
--veryLightRedBg: #ff8f70;
--lightRedBg: #ff3d54;

/*Background gradient - body:*/
--veryDarkGrayBlue: #2c2d3f;
--veryDarkDesaturatedBlue: #3f4164;
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

*::after,
*::before,
* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fraunces', serif;
}

button{
    all: unset;
    cursor: pointer;
}

li,ol, .dropdown {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
header,
main {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1;
}

.container {
    margin: 0 auto;
}

header {
    height: 10vh;
    width: 100%;
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    display: flex;
    background-color: transparent; 
}

header .logo {
    width: 10rem;
    margin-right: 1.5rem;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: var(--white);
}

.nav-dropdown img {
    width: 1rem;
}

.nav-dropdown + ul {
    background: var(--grayishBlue);
}

.banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--veryLightRedBg);
}

