:root {
    --strongCyan: hsl(172, 67%, 45%);
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --grayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyan:hsl(185, 41%, 84%);
    --veryLightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

*::after,
*::before,
* {
    box-sizing: border-box;
    font-family: 'Space Mono', sans-serif;
}

a {
    text-decoration: none;
}

button{
    all: unset;
    cursor: pointer;
}

li,ol, .dropdown {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
header,
main {
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1;
    font-family: 'Space Mono', monospace;
    font-size: 2rem;
    background-color: var(--lightGrayishCyan);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
}

header .logo {
    width: 9rem;
}

main {
    background-color: var(--white);
    padding: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: calc(100vh - 10.6rem);
}

form {
    margin-bottom: 2.5rem;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.form-element:nth-child(2) {
    margin: 2rem 0;
}

.form-element input {
    font-size: 1.8rem;
    text-align: end;
    padding: 0.5rem 0.6rem;
    border: 1px solid var(--veryLightGrayishCyan);
    border-radius: .5rem;
    color: var(--veryDarkCyan);
    background-color: var(--veryLightGrayishCyan);
}

.form-element input::placeholder {
    color: var(--veryDarkCyan);
}

.form-element input:focus {
    outline: 2px solid var(--strongCyan);
}

.form-element label {
    color: var(--darkGrayishCyan);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form-input {
    position: relative;
}

.form-input img {
    width: 1rem;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.form-input input {
    width: 100%;
}

.form-input.error input {
    border: 2px solid red;
 }

.form-input span {
    right: 0;
    top: -2.4rem;
    width: max-content;
    position: absolute;
    font-size: 1.4rem;
    color: red;
    display: none;
}

.form-input.error span {
   display: block;
}

.form-btn-group {
    display: flex;
    flex-wrap: wrap;
}

.form-btn-group button,
.form-btn-group input {
    width: 45%;
    margin: 0.5rem;
}

.form-btn-group button {
    padding: 0.8rem 0;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--veryDarkCyan);
    color: var(--white);
    transition: all .2s ease-in;
}

.form-btn-group button:hover {
    background-color: var(--lightGrayishCyan);
    color: var(--veryDarkCyan);
}

.form-btn-group input {
    margin: 0;
}

.tip-wrapper{
    background-color: var(--veryDarkCyan);
    border-radius: 2rem;
    padding: 1.5rem;
}

.tip-result-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.tip-result-title {
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    color: var(--white);
}

.tip-result-title span{
    font-size: 1.4rem;
    color: var(--grayishCyan);
    margin-top: 3px;
}

.tip-result {
    color: var(--strongCyan);
    font-size: 2.4rem;
}

.btn-reset {
    width: 100%;
    margin: 1rem 0;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--veryDarkCyan);
    background-color: var(--strongCyan);
    transition: all .2s ease-in;
}

.btn-reset:hover {
    background-color: var(--lightGrayishCyan);
}

@media screen and (min-width:400px) {

    main {
        width: 80%;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }

    .form-element:nth-child(2) {
        margin: 3rem 0;
    }
}

@media screen and (min-width:1000px) {
    body {
        height: 100vh;
    }

    header {
        padding-bottom: 5rem;
    }

    main {
        display: flex;
        align-items: center;
        width: 92rem;
        height: 47rem;
        padding: 3rem;
    }

    form,
    .tip-wrapper {
        width: 46%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    form {
        margin-right: 4%;
        padding: 0 2rem;
    }

    .form-element:nth-child(2) {
        margin: 4.2rem 0;
    }

    form,
    .tip-wrapper {
        width: 48%;
    }

    .form-element input {
        font-size: 2.4rem;
    }

    .form-element label {
        font-size: 1.6rem;
    }

    .form-btn-group button, .form-btn-group .form-input {
        width: 30%;
        margin: 1.25%;
    }

    .form-btn-group button {
        font-size: 2.5rem;
        padding: 1.5rem 0;
    }


    .form-btn-group input {
        width: 100%;
    }

    .tip-result {
        font-size: 5.4rem;
    }

    .tip-wrapper{
        padding: 3.5rem;
    }

    .tip-result-wrapper {
        margin-bottom: 4rem;
    }

    .tip-result {
        font-size: 3.4rem;
    }

    .tip-wrapper button{
        margin-top: auto;
    }
}

@media screen and (min-width:1400px) {
    
}