:root {
    --darkCyan:  hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
}

p {
    font-size: 14px;
    color: var(--darkGrayishBlue);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.product-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-left,
.product-right {
    width: 100%;
}

.product-left {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('./images/image-product-mobile.jpg');
    background-size: cover;
    background-position: center;
    height: 35%;
    padding: 25px;
}

.product-right {
    padding: 25px;
    background-color: var(--white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-title,
.product-price-wrap {
    font-family: 'Fraunces', sans-serif;
}

.product-cat {
    text-transform: uppercase;
    color: var(--darkGrayishBlue);
    letter-spacing: 3px;
    font-size: 14px;
}

.product-title {
    color: var(--veryDarkBlue);
    font-size: 27px;
    margin: 10px 0;
}

.product-price-wrap:first-child {
    color: var(--darkCyan)
}

@media screen and (min-width: 375px) {
    .product-wrapper {
        flex-direction: row;    
        width: 50%;
        height: 400px;
    }

    .product-left,
    .product-right {
        width: 50%;
        height: 100%;
    }

    .product-left {
        background-image: url('./images/image-product-desktop.jpg');
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        
    }

    .product-right {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

   
}
