:root {
    --linearGradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
    --redError: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
}
.container {
    max-width: 375px;
    margin: 0 auto;
}

* {
     box-sizing: border-box;
     font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    
}

.card-details {
    position: relative;
    height: 240px;
    background-image: url('./images/bg-main-mobile.png');
    background-size: cover;
    background-position: center;
}

.card-details .card-details-front,
.card-details .card-details-back {
    width: 287px;
    height: 156px;
    padding: 0 20px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: absolute;
}

.card-details .card-details-front {
    background-image: url('./images/bg-card-front.png');
    bottom: -43px;
    left: 15px;
    z-index: 20;
}

.card-details .card-details-back {
    background-image: url('./images/bg-card-back.png');
    top: 33px;
    right: 15px;
}

.card-details .card-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--white);
}

.card-details .card-logo,
.card-details .card-digits,
.card-details .card-name,
.card-details .card-date,
.card-details .card-cvc {
    position: absolute;
}

.card-details .card-digits {
    font-size: 20px;
    letter-spacing: 1px;
    top: 83px;
}

.card-details .card-name {
    font-weight: 300;
    text-transform: uppercase;
}

.card-details .card-date {
    right: 0;
}

.card-details .card-name,
.card-details .card-date {
    font-size: 11px;
    top: 122px;
}

.card-details .card-cvc {
    font-size: 11px;
    top: 71px;
    right: 18px;
}

.form-section {
    padding: 87px 22px 30px 22px;
}

.form-section .form-wrapper {
    max-width: 375px;
    width: 100%;
}

.form-section .form-field,
.form-section .form-field-double {
    display: flex;
}

.form-section .form-field-double.last {
    margin-bottom: 12px;
}

.form-section .form-field {
    flex-direction: column;
    margin-bottom: 15px;
}

.form-section .form-field.cvc {
    flex-grow: 1;
}

.form-section .form-field label {
    font-size: 11px;
    font-weight: 500;
    color: var(--veryDarkViolet);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

.form-section .form-field input {
    padding: 10px;
    border-radius: 7px;
    border: 1px solid var(--lightGrayishViolet);
    color: var(--darkGrayishViolet);
}

.form-section .form-field input::placeholder {
   color: var(--lightGrayishViolet);
}

.form-section .form-field input:focus {
    outline: 1px solid var(--darkGrayishViolet);
}

.form-section .card-date {
    width: 60px;
    margin-right: 6px;
}

.form-section button {
    width: 100%;
    background-color: var(--veryDarkViolet);
    border: 1px solid var(--veryDarkViolet);
    border-radius: 5px;
    padding: 14px 0;
    color: var(--white);
    letter-spacing: 1px;
}

@media screen and ( min-width:1440px ) {
    .container {
        max-width: 100%;
        height: 100vh;
        display: flex;
    }

    .card-details {
        width: 483px;
        height: 100%;
        background-image: url('./images/bg-main-desktop.png');
    }

    .card-details .card-details-front, 
    .card-details .card-details-back {
        width: 445px;
        height: 245px;
        padding: 0 30px;
    }
    
    .card-details .card-details-front {
        right: -127px;
        top: 21%;
        bottom: unset;
        left: unset;
    }

    .card-details .card-details-back {
        top: 52%;
        right: -222px;
    }

    .card-details .card-logo {
        top: 30px;
    }

    .card-details .card-digits {
        font-size: 30px;
        letter-spacing: 2px;
        top: 138px;
    }

    .card-details .card-name,
    .card-details .card-date {
        font-size: 17px;
        top: 200px;
    }

    .card-details .card-cvc {
        font-size: 17px;
        top: 109px;
        right: 28px;
    }

    .form-section {
        padding: 0;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-section .form-wrapper {
        max-width: 375px;
        width: 100%;
        margin-left: 120px;
    }

    .form-section .form-field {
        margin-bottom: 25px;
    }

    .form-section .form-field label {
        font-size: 15px;
        margin-bottom: 12px;
    }

    .form-section .form-field input {
        font-size: 16px;
    }
}