:root {
    --linearGradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
    --redError: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
}
.container {
    max-width: 375px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

.card-details {
    position: relative;
    height: 240px;
    background-image: url('./images/bg-main-mobile.png');
    background-size: cover;
    background-position: center;
}

.card-wrapper {
    width: 100%;
   
}

.card-details .card-details-front,
.card-details .card-details-back {
    max-width: 290px;
    height: 156px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: absolute;
}

.card-details .card-details-front {
    background-image: url('./images/bg-card-front.png');
}

.card-details .card-details-back {
    background-image: url('./images/bg-card-back.png');
}