:root {
--softRed: hsl(10, 79%, 65%);
--cyan: hsl(186, 34%, 60%);
--darkBrown: hsl(25, 47%, 15%);
--mediumBrown: hsl(28, 10%, 53%);
--cream: hsl(27, 66%, 92%);
--veryPaleOrange: hsl(33, 100%, 98%)
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: var(--cream);
	font-family: 'DM Sans', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.container {
	max-width: 375px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.balance-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--softRed);
	color: #fff;
	margin-bottom: 15px;
	border-radius: 15px;
    padding: 23px;
}

.balance-section h1 {
	margin-bottom: 10px;
}

.balance-section span {
	font-size: 22px;
    font-weight: 700;
}

.chart-section {
	padding: 34px 20px;
	border-radius: 15px;
	background-color: var(--veryPaleOrange);
}

.chart-section .chart-wrapper {
	margin-bottom: 28px;
}

.chart-section h2 {
	font-size: 24px;
	font-weight: 700;
	color: var(--darkBrown);
	margin-bottom: 22px;
}

.chart-section .chart {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	border-bottom: 1px solid var(--mediumBrown);
    padding-bottom: 25px;
}

.chart-section .chart-element {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 38px;
	cursor: pointer;
	position: relative;
}

.chart-element.show .chart-bar {
	opacity: .65;
}

.chart-section .tooltip {
    background-color: var(--darkBrown);
    padding: 8px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 13px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
    top: -6px;
	opacity: 0;
	z-index: 100;
}

.chart-element.show .tooltip {
	opacity: 100;
}

.chart-section .chart-bar {
	border-radius: 2px;
	margin-bottom: 10px;
	max-width: 32px;
	width: 100%;
}

.chart-section .day {
	font-size: 14px;
	color: var(--mediumBrown);
    text-align: center;
}

.chart-section .balance-total h3 {
	color: var(--mediumBrown);
	margin-bottom: 12px;	
}

.chart-section .balance-total span {
	font-size: 28px;
	font-weight: 700;
	color: var(--darkBrown);	
}

.chart-section .balance {
	display: flex;
	justify-content: space-between;
}

.chart-section .balance .balance-precent {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
}

.chart-section .balance-precent h4{
	color: var(--mediumBrown);
}

.chart-section .balance-precent span{
	color: var(--darkBrown);
	font-weight: 700;
	text-align: end;
	margin-bottom: 2px;
}

@media (min-width: 555px) {
	.container {
		max-width: 565px;
	}

	.balance-section {
		margin-bottom: 20px;
		padding: 23px 38px;
	}

	.balance-section h1 {
		margin-bottom: 17px;
		font-size: 16px;
	}

	.balance-section span {
		font-size: 32px;
	}

	.chart-section {
		padding: 34px 38px;
	}

	.chart-section .chart-wrapper {
		margin-bottom: 45px;
	}
	
	.chart-section .chart {
		padding-bottom: 40px;
	}

	.chart-section h2 {
		font-size: 32px;
		margin-bottom: 60px;
	}

	.chart-section .balance-total span {
		font-size: 50px;
	}

	.chart-section .chart-element {
		width: 70px;
	}

	.chart-section .tooltip {
		font-size: 15px;
		top: -35px;
	}
	
	.chart-section .chart-bar  {
		max-width: 50px;
		width: 100%;
	}

	.chart-section .balance-total h3,
	.chart-section .balance-precent h4 {
		font-size: 18px;
	}

	.chart-section .balance-precent span {
		margin-bottom: 15px;
	}

}
