:root {
    --darkCyan:  hsl(158, 36%, 37%);
    --darkCyanHover: hsl(158, 48%, 24%);
    --cream: hsl(30, 38%, 92%);
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cream);
}

p {
    font-size: 14px;
    color: var(--darkGrayishBlue);
    line-height: 1.4;
    margin-bottom: 45px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.product-wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-left,
.product-right {
    width: 100%;
}

.product-left {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url('./images/image-product-mobile.jpg');
    background-size: cover;
    background-position: center;
    height: 35%;
    padding: 15px 25px;
}

.product-right {
    padding: 15px 25px;
    background-color: var(--white);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product-title,
.product-price-wrap span {
    font-family: 'Fraunces', sans-serif;
}

.product-cat {
    text-transform: uppercase;
    color: var(--darkGrayishBlue);
    letter-spacing: 3px;
    font-size: 13px;
}

.product-title {
    color: var(--veryDarkBlue);
    font-size: 27px;
    margin: 10px 0;
    line-height: 1;
}

.product-price-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
}

.product-price-wrap span {
    color: var(--darkCyan);
    font-size: 26px;
}

.product-price-wrap del {
    font-size: 13px;
    font-weight: 500;
    color: var(--darkGrayishBlue);
}

.btn  {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--darkCyan);
    border-color: transparent;
    border-radius: 5px;
    color: var(--white);
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    background-color: var(--darkCyan);
    transition: all 0.2s;
}

.product-btn:hover {
    background-color: var(--darkCyanHover);
}

.product-btn svg{
    margin-right: 5px;
}

@media screen and (min-width: 750px) {
    p {
        margin-bottom: 15px;
    }

    .product-wrapper {
        flex-direction: row;    
        width: 50%;
        height: 400px;
    }

    .product-left,
    .product-right {
        width: 50%;
        height: 100%;
    }

    .product-left {
        background-image: url('./images/image-product-desktop.jpg');
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;    
    }

    .product-right {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
