:root {
    --paleBlue: hsl(225, 100%, 94%);
    --brightBlue: hsl(245, 75%, 52%);
    --veryPaleeBlue: hsl(225, 100%, 98%);
    --desaturatedBlue: hsl(224, 23%, 55%);
    --darkBlue: hsl(223, 47%, 23%);
}

* {
     box-sizing: border-box;
}


body {
    background-image: url('./images/pattern-background-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    padding: 0 25px;
    height: 100vh;
    margin: 0;
}

p {
    margin: 0;
    color: var(--desaturatedBlue);
}


.card {
    max-width: 400px;
    border-radius: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0px 25px 22px -20px #000;
    -moz-box-shadow: 0px 25px 22px -20px #000;
    box-shadow: 0px 13px 22px -20px #000;
}

.card-top img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 20px;
}    

.card-body h2 {
    font-weight: 900;
    color: var(--darkBlue);
}

.card-desc {
    text-align: center;
    max-width: 270px;
    margin-bottom: 20px;
}

.card-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--veryPaleeBlue);
    width: 100%;
    border-radius: 10px;
    padding: 20px;
}

.card-plan div:first-child{
    display: flex;
    align-items: center;
}

.card-plan-anual {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-plan-anual p:first-child {
    color: var(--darkBlue);
    font-weight: 900;
}

.card-plan a{
    color: var(--brightBlue);
    transition: all 0.2s;
}

.card-plan a:hover{
    opacity: 0.8;
}

.card-footer {
    padding: 15px 20px 0 20px;
}

.btn {
    border-color: transparent;
    width: 100%;
    border-radius: 15px;
    padding: 15px 0;
    margin-bottom: 10px;
    background-color: var(--brightBlue);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

.btn.shade {
    -webkit-box-shadow: 0px 25px 22px -20px var(--brightBlue);
    -moz-box-shadow: 0px 25px 22px -20px var(--brightBlue);
    box-shadow: 0px 25px 22px -20px var(--brightBlue);
}

.btn:hover {
    opacity: 0.8;
}

.btn.transparent {
    background-color: transparent;
    color: var(--desaturatedBlue);
    transition: all 0.2s;

}

.btn.transparent:hover {
    color: var(--darkBlue);
}
@media screen and (min-width:700px) {
    body {
        background-image: url('./images/pattern-background-desktop.svg');
    }
}