:root {
    --almostWhite: hsl(0, 0%, 98%);
    --mediumGray: hsl(0, 0%, 41%);
    --almostBlack: hsl(0, 0%, 8%);
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Epilogue', sans-serif;
    background-color: var(--almostWhite);
    position: relative;
}

.mobile-nav-wrap {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background-color: var(--almostBlack);
    opacity: 0.5;
}

.mobile-nav-wrap.dark {
    visibility: visible;
}

a {
    text-decoration: none;
}

button{
    all: unset;
}

li,ol, .dropdown {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*NAVIGATION*/
header, 
header .navbar {
    display: flex;
}

header {
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 15px;
}

header .nav-item {
    margin-bottom: 25px;
    cursor: pointer;
}

header .nav-item .nav-link{
    color: var(--mediumGray);
}

header .nav-item img{
    margin-left: 11px;
}

header .nav-registration-wrapper ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*NAVIGATION DROPDOWN FUNCTIONALITY*/
header #nabvar-toggle {
    z-index: 30;
    cursor: pointer;
    visibility: visible;
}

header #nabvar-toggle + ul {
    position: fixed;
    top: 0;
    right: -240px;
    bottom: 0;
    padding: 80px 25px;
    width: 0; 
    height: initial;  
    z-index: 20;
    transition: all 0.2s linear;
}

header #nabvar-toggle + ul.show {
    right: 0;
    width: 240px;
}

header #nabvar-toggle + ul,
header #nav-link-features + ul,
header #nav-link-company + ul {
    visibility: hidden;
    background-color: var(--almostWhite);
}

header #nav-link-features + ul,
header #nav-link-company + ul {
    position: relative;
    top: 10px;
    left: 20px;
    height: 0;
}

header #nabvar-toggle + ul.show,
header #nav-link-features + ul.show,
header #nav-link-company + ul.show {
    visibility: visible;
}

header #nav-link-features + ul.show,
header #nav-link-company + ul.show {
    height: fit-content;
}

header #nav-link-features + ul .nav-item,
header #nav-link-company + ul .nav-item{
    display: flex;
    align-items: center;
}

header #nav-link-features + ul img,
header #nav-link-company + ul img{
   margin-left: 0;
   margin-right: 20px;
   width: 18px;
}

header .nav-registration-wrapper ul .register{
    border: 1px solid var(--almostBlack);
    border-radius: 15px;
    width: 100%;
    padding: 14px 0;
    text-align: center;
}

/*BANNER*/
.banner{
    background-image: url('./images/image-hero-mobile.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 280px;
}

.banner-section {
    height: 100vh;
}

.banner-text-wrapper {
    text-align: center;
    padding: 40px 20px ;
}

.banner-text-wrapper h1{
    font-size: 35px;
    font-weight: 700;
    color: var(--almostBlack);
}

.banner-text-wrapper p{
    color: var(--mediumGray);
    line-height: 1.3;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.banner-text-wrapper a{
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    padding: 15px 25px;
    border-radius: 10px;
}

/*CLIENTS*/
.clients-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients-wrapper img {
    width: 65px;
    margin: 0 15px;
}

@media screen and (min-width: 900px) {
    header {
        height: 90px;
        margin-bottom: 40px;
    }

    header .logo {
        margin: 0 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .navbar {
        width: 100%;
        height: 100%;
    }

    header .navbar-wrapper {
        display: flex;
    }

    /*NAVIGATION*/
    header .nav-dropdown {
        position: relative;
    }

    header #nabvar-toggle {
        visibility: hidden;
    }

    header #nabvar-toggle + ul {
        width: 100%;
        height: 100%;
        visibility: visible;
        position: static;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;   
        padding: 0;
    }

    header .nav-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        margin-right: 30px;
    }

    header .nav-item .nav-link {
        transition: color .2s linear;
    }

    header .nav-item .nav-link:hover {
        color: var(--almostBlack);
    }

    header .nav-item img {
        margin-left: 0;
    }

    header .nav-registration-wrapper {
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .nav-registration-wrapper ul{
        flex-direction: row;
    }

    header .nav-registration-wrapper ul .register {
        padding: 14px;
    }

    header #nav-link-features + ul, 
    header #nav-link-company + ul {
        margin: 0;
    }

    header #nav-link-features + ul, 
    header #nav-link-company + ul {
        width: max-content;
        justify-content: flex-start;
        background-color: #fff;
        position: absolute;
        top: 70px;
        padding: 24px;
        border-radius: 10px;
        padding: 24px;
        -webkit-box-shadow: 0px 10px 35px 0px var(--mediumGray);
        -moz-box-shadow: 0px 10px 35px 0px var(--mediumGray);
        box-shadow: 0px 10px 35px 0px var(--mediumGray);
    }

    header #nav-link-features + ul .nav-item, 
    header #nav-link-company + ul .nav-item {
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    header #nav-link-features + ul {
        right: 10px;
        left: unset;
    }
    header #nav-link-company + ul {
        left: 0;
    }

    /*BANNER*/
    .banner-section {
        display: flex;
        flex-direction: row-reverse;
        height:calc(100vh - 22vh);
    }
    
    .banner {
        width: 42.5%;
        height: inherit;
        background-image: url('./images/image-hero-desktop.png');
        background-position: unset;
    }
    
    .banner-second-part {
        width: 57.5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .banner-text-wrapper {
        text-align: left;
        max-width: 575px;
        width: 100%;
        padding: 0;
        padding-left: 40px;
        margin-top: 10%;
    }

    .banner-text-wrapper h1{
        font-size: 45px;
    }

    .banner-text-wrapper p {
        margin-top: 30px;
    }

    .banner-text-wrapper a {
        padding: 14px 25px;
    }

    .clients-wrapper {
        max-width: 575px;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1440px) {    
    .banner-text-wrapper h1{
        font-size: 80px;
    }
    
    .banner-text-wrapper p{
        font-size: 20px;
        font-weight: 700;
        margin-top: 30px;
        margin-bottom: 70px;
        line-height: 1.4;
    }
    
    .banner-text-wrapper a {
        padding: 20px 36px;
    }
    
    .clients-wrapper {
        max-width: 575px;
        width: 100%;
        margin: 0;
        margin-top: auto;
        display: flex;
        justify-content: space-evenly;
    }
    
    .clients-wrapper img{
        width: 90px;
    }
}