:root {
    --softred: hsl(7, 99%, 70%);
    --yellow: rgb(250, 212, 0);
    --darkDesaturatedCyanGraphicDesignText: #25564b;
    --darkBluePhotographyText: hsl(198, 62%, 26%);
    --darkModerateCyanFooter: #49baa0;
    --backgroundPink: #FFFBF7;

    --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

*::after,
*::before,
* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fraunces', serif;
}

button{
    all: unset;
    cursor: pointer;
}

li,ol, .dropdown {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
header,
main {
    width: 100%;
}

html {
    font-size: 62.5%;
}

.flex {
    display: flex;
}

.flex-reverse {
    flex-direction: row-reverse;
}

body {
    line-height: 1;
    font-family: 'Barlow', sans-serif;
}

.container {
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
}

header .logo {
    width: 14rem;
}

header button {
    display: block;
}

header nav {
    position: absolute;
    width: calc(100% - 4rem);
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    visibility: hidden;
}

header nav.show {
    visibility: visible;
}

header ul {
    width: 100%;
    padding: 3.5rem 0 1.5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header ul::before {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent; 
    border-right:2rem solid var(--white); 
    position: absolute;
    top: -2rem;
    right: 0;
}

header li {
    margin-bottom: 2rem;
    align-self: center;
}

header a {
    color: var(--darkGrayishBlue);
    font-size: 1.7rem;
}

header .nav--round {
    background-color: var(--yellow);
    border-radius: 3rem;
    padding: 1.8rem;
    cursor: pointer;
}

header .nav--round a{
    text-transform: uppercase;
    color: var(--veryDarkDesaturatedBlue);
    font-family: 'Fraunces', serif;
}

/*BANNER*/
.banner {
    height: 80vh;
    background-image: url("./images/mobile/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner h1{
    color: var(--white);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 5px;
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.banner img{
    width: 3rem;
}

/*SERVICES*/
.services .flex {
    flex-direction: column;
}

.services__text {
    padding: 5.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--backgroundPink);
}

.services__text h2,
.services__background-text h3{
    font-size: 3rem;
    text-align: center;
    color: var(--veryDarkDesaturatedBlue);
    font-weight: 900;
}

.services__text p,
.services__background-text p{
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem 0 2.5rem 0;
    color: var(--grayishBlue);
    line-height: 1.4;
}

.services__text a {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    color: var(--veryDarkDesaturatedBlue);
    font-size: 1.8rem;
}

.services .yellow a {
    border-bottom: 5px solid var(--yellow);
}

.services .pink a {
    border-bottom: 5px solid var(--softred);
}

.services .green h3,
.services .green p {
    color: var(--darkDesaturatedCyanGraphicDesignText);
}

.services .blue h3,
.services .blue p {
    color: var(--darkBluePhotographyText);
}

.services__background-text {
    position: relative;
}

.services__background-text:nth-child(2) {
    top: -1px;
}

.services__background-text img{
    object-fit: contain;
}

.services__background-text div {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 2.5rem;
}

/*TESTEMONIALS*/
.testemonials {
    padding: 4rem 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--backgroundPink);
}

.testemonials h2{
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--darkGrayishBlue);
    margin-bottom: 4rem;
    letter-spacing: 3px;
}

.testemonials-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testemonials-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.testemonials-client .avatar{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.testemonials-client .avatar img{
    border-radius: 50%;
}

.testemonials-client p {
    margin: 2.5rem 0;
    text-align: center;
    color: var(--veryDarkGrayishBlue);
    font-size: 1.8rem;
    line-height: 1.4;
}

.testemonials-client h3 {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    font-weight: 900;
    color: var(--veryDarkDesaturatedBlue);
}

.testemonials-client h4 {
    font-family: 'Barlow', sans-serif;
    color: var(--grayishBlue);
    text-transform: uppercase;
    font-size: 1.6rem;
}

/*GALLERY*/
.gallery {
    flex-direction: column;
}    

.gallery img {
    width: 50%;
}

/*FOOTER*/
footer {
    background-color: var(--darkModerateCyanFooter);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.5rem 0 6rem 0;
}

footer ul {
    width: 100%;
    justify-content: space-between;
    margin: 3rem 0 5rem 0;
}

footer li {
    margin: 0 1.3rem;
}

footer a{
    font-size: 1.5rem;
    color: var(--darkDesaturatedCyanGraphicDesignText);
    transition: color .2s ease-in;
}

footer li a:hover {
    color: var(--white);
}

footer .social-media .fb {
    mask: url('./images/icon-facebook.svg');
    -webkit-mask: url('./images/icon-facebook.svg');
}

footer .social-media .insta {
    mask: url('./images/icon-instagram.svg');
    -webkit-mask: url('./images/icon-instagram.svg');
}

footer .social-media .tw {
    mask: url('./images/icon-twitter.svg');
    -webkit-mask: url('./images/icon-twitter.svg');
}

footer .social-media .pinta {
    mask: url('./images/icon-pinterest.svg');
    -webkit-mask: url('./images/icon-pinterest.svg');
}

footer .social-media span {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    cursor: pointer;
    background: var(--darkDesaturatedCyanGraphicDesignText);
    transition: background .2s ease-in;
}

footer .social-media .fb:hover,
footer .social-media .insta:hover,
footer .social-media .tw:hover {
    background: var(--white);
}

@media screen and (min-width:550px) {
    /*HEADER*/
    header {
        width: 100%;
        padding-left: 4.5rem;
        padding-right: 4.5rem;
    }
    header button {
        display: none;
    }

    header nav {
        visibility: visible;
        background-color: transparent;
        position: relative;
        top: unset;
        left: unset;
        transform: translateX(0);
        width: fit-content;
    }

    header ul {
        flex-direction: row;
        padding: 0;
    }

    header ul::before {
        content: none;
    }
  
    header li {
        margin: 0 1.5rem;
    }

    header a,
    header .nav--round {
        transition: color .2s ease-out;
    }

    header a:hover,
    header .nav--round:hover a {
        color: var(--white);
    }

    header .nav--round:hover {
        background-color: rgb(145, 212, 245)
    }

    /*BANNER*/
    .banner {
        height: 100vh;
        background-image: url("./images/desktop/image-header.jpg");
    }

    .banner h1{
        margin-bottom: 5.5rem;
    }

    /*SERVICES*/
    .services .flex {
        flex-direction: row;
        align-items: center;
    }

    .services .flex-reverse {
        flex-direction: row-reverse;
    }

    .services__text,
    .services__background,
    .services__background-text{
        width: 50%;
        height: 100%;
    } 

    .services__text {
        padding: 0.5rem 1rem;
    }

    .services__text h2,
    .services__background-text h3{
        font-size: 2.5rem;
    }

    .services__text p, 
    .services__text a{
        font-size: 1.4rem;
    }

    .services__background-text {
        top: -1px;
    }

    .services__background-text div {
        bottom: unset;
        top: 50%;
    }
}
@media screen and (min-width:760px) { 

    /*SERVICES*/
    .services__text {
        justify-content: center;
        align-items: center;
    }

    .services__text-wrap {
        width: 69%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .services__text h2,
    .services__background-text h3{
        font-size: 3rem;
    }

    .services__text h2, 
    .services__text p{
        text-align: left; 
    }

    .services__text p, 
    .services__text a,
    .services__background-text p{
        font-size: 1.8rem; 
    }

    .services__background-text div {
        top: 60%;
    }
    

    /*TESTEMONIALS*/
    .testemonials {
        padding: 12rem 0;
    }

    .testemonials h2 {
        font-size: 2rem;
    }

    .testemonials-wrapper {
        flex-direction: row;
    }

    .testemonials-client {
        max-width: 300px;
        margin: 4rem 2rem;
    }

    .testemonials-client .avatar{
        width: 7rem;
        height: 7rem;
    }

    .testemonials-client p {
        margin: 5.5rem 0;
    }

    .testemonials-client h3 {
        font-size: 1.8rem;    
    }

    .testemonials-client h4 {
        font-size: 1.6rem;
    }

    /*GALLERY*/
    .gallery {
        flex-direction: row;
    }

    /*FOOTER*/

    footer {
        padding:6rem 0;
    }

    footer a{
        font-size: 1.8rem;

    }
}

@media screen and (min-width:1000px) { 

    /*SERVICES*/
    .services__text h2,
    .services__background-text h3{
        font-size: 3.5rem;
    }

    .services__text p, 
    .services__text a,
    .services__background-text p{
        font-size: 2rem; 
    }

    .services__background-text div {
        top: 65%;
    }
}
