:root {
    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --darkDesaturatedCyanGraphicDesignText: hsl(167, 40%, 24%);
    --darkBluePhotographyText: hsl(198, 62%, 26%);
    --darkModerateCyanFooter: hsl(168, 34%, 41%);

    --veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
    --veryDarkGrayishBlue: hsl(213, 9%, 39%);
    --darkGrayishBlue: hsl(232, 10%, 55%);
    --grayishBlue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
}

/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,ul, ol, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

*::after,
*::before,
* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Fraunces', serif;
}

button{
    all: unset;
    cursor: pointer;
}

li,ol, .dropdown {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
header,
main {
    width: 100%;
}

html {
    font-size: 62.5%;
}

.flex {
    display: flex;
}

.flex-reverse {
    flex-direction: row-reverse;
}

body {
    line-height: 1;
    font-family: 'Barlow', sans-serif;
}

.container {
    margin: 0 auto;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
}

header .logo {
    width: 14rem;
}

header nav {
    position: absolute;
    width: calc(100% - 4rem);
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    visibility: hidden;
}

header nav.show {
    visibility: visible;
}

header ul {
    width: 100%;
    padding: 3.5rem 0 1.5rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header ul::before {
    content: '';
    width: 0; 
    height: 0; 
    border-top: 2rem solid transparent;
    border-bottom: 2rem solid transparent; 
    border-right:2rem solid var(--white); 
    position: absolute;
    top: -2rem;
    right: 0;
}

header li {
    margin-bottom: 2rem;
    align-self: center;
}

header a {
    color: var(--darkGrayishBlue);
    font-size: 1.7rem;
}

header .nav--round {
    background-color: var(--yellow);
    border-radius: 3rem;
    padding: 1.8rem;
}

header .nav--round a{
    text-transform: uppercase;
    color: var(--veryDarkDesaturatedBlue);
    font-family: 'Fraunces', serif;
}

/*BANNER*/
.banner {
    height: 80vh;
    background-image: url("./images/mobile/image-header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -1rem;
}

.banner h1{
    color: var(--white);
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 5px;
    font-size: 4.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.banner img{
    width: 3rem;
}

/*SERVICES*/
.services .flex {
    flex-direction: column;
}

.services__text {
    padding: 5.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__text h2,
.services__background-text h3{
    font-size: 3rem;
    text-align: center;
    color: var(--veryDarkDesaturatedBlue);
}

.services__text p,
.services__background-text p{
    font-size: 1.6rem;
    text-align: center;
    margin: 2rem 0 2.5rem 0;
    color: var(--grayishBlue);
    line-height: 1.4;
}

.services__text a {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    color: var(--veryDarkDesaturatedBlue);
    font-size: 1.6rem;
}

.services .yellow a {
    border-bottom: 3px solid var(--yellow);
}

.services .pink a {
    border-bottom: 3px solid var(--softred);
}

.services .green h3,
.services .green p {
    color: var(--darkDesaturatedCyanGraphicDesignText);
}

.services .blue h3,
.services .blue p {
    color: var(--darkBluePhotographyText);
}

.services__background-text {
    position: relative;
}

.services__background-text:nth-child(2) {
    top: -1px;
}

.services__background-text img{
    object-fit: cover;
    aspect-ratio: 9/16;
}

.services__background-text div {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 2.5rem;
}

/*TESTEMONIALS*/
.testemonials {
    padding: 3.5rem 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testemonials h2{
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--darkGrayishBlue);
    margin-bottom: 3.5rem;
    letter-spacing: 3px;
}

.testemonials-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.testemonials-client .avatar{
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.testemonials-client .avatar img{
    border-radius: 50%;
}

.testemonials-client p {
    margin: 2.5rem 0;
    text-align: center;
    color: var(--veryDarkGrayishBlue);
    font-size: 1.6rem;
    line-height: 1.4;
}

.testemonials-client h3 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}

.testemonials-client h4 {
    font-family: 'Barlow', sans-serif;
    color: var(--grayishBlue);
    text-transform: uppercase;
    font-size: 1.2rem;
}

/*GALLERY*/
.gallery img {
    width: 50%;
}
